@-moz-document domain('luakit.github.io') {
	* {
		color: aliceblue !important;
		background-color: #252550 !important;
        background-image: unset !important;
	}

	body {
		zoom: 220%;
	}

	#wrap, div.container,
	#content {
		max-width: 700px !important;
		width: 700px !important;
	}

	a {
		color: #99FFFF !important;
	}

	a:visited {
		color: #FF99FF !important;
	}

	::selection {
		background-color: #ffa000;
	}

	::highlight() {
		color: #ffa000;
	}

	::-webkit-selection {
		background-color: #ff0000;
	}
}
