@-moz-document domain('subscene.com') {
	* {
		color: aliceblue !important;
		background-color: #252550 !important;
        background-image: unset !important;
		/* zoom: 1.0; */
	}

	body {
		zoom: 220%;
		/* scale: 200%; */
	}

	#sidebar-left {
		visibility: hidden !important;
	}

	a {
		color: #99FFFF !important;
	}

	a:visited {
		color: #FF99FF !important;
	}

	::selection {
		background-color: #ffa000;
	}

	::highlight() {
		color: #ffa000;
	}

	::-webkit-selection {
		background-color: #ff0000;
	}
}
